.sidebar {
  padding: 1rem;
  width: 280px;
  height: 100%;
  background-color: var(--background-sidebar);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 14px;
  border-radius: 8px;
  color: var(--neutral-50);
  background: var(--neutral-300);
  justify-content: space-between;
  transition: all 0.2s ease;
  font-weight: 500;
  border: 1px solid transparent;
}

.sidebar ul li a:hover {
  background-color: var(--neutral-400);
  color: var(--white);
  transform: translateX(4px);
  border-color: var(--neutral-300);
}

.sidebar ul li a span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar ul li a span i {
  font-size: 20px;
  padding: 4px;
  background: var(--neutral-200);
  border-radius: 10px;
  color: var(--white);
}

.sidebar footer {
  margin-top: auto;
  padding: 12px;
  color: var(--neutral-50);
  background: var(--neutral-700);
  border-radius: 15px;
}

.sidebar footer p {
  font-size: 13px;
  text-align: center;
}
